// 로딩
.load {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9) url("../../public/images/loader.gif")
        no-repeat center center/60px;

    & + #wrap {
        overflow: hidden;
    }
}

#wrap,
body,
html {
    height: 100%;
    font-family: $t-basic;
}
#wrap,
#header,
#container,
#footer {
    position: relative;
    width: 100%;
}
#wrap {
    overflow: inherit;
}

/* Header */
$header-h: 60px;
#header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: $header-h;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 35px;

    @include respond-to("small") {
        padding: 0 10px;
    }
    &.zero {
        background: transparent;
    }
    h1 {
        position: absolute;

        a {
            font-size: 34px;
            line-height: 67px;
            letter-spacing: 0.1em;

            @include respond-to("small") {
                font-size: 28px;
                line-height: 60px;
            }
        }
    }
    #nav {
        float: right;
        width: 100%;
        height: 100%;

        &.on {
            @include respond-to("small") {
                display: table;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
            }
            @include respond-to("medium") {
                display: table;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
            }
            @include respond-to("large") {
                display: block;
                position: relative;
                width: auto;
                height: auto;
                background: transparent;
            }

            .burgur {
                .bar1 {
                    transform: rotate(45deg);
                    margin-top: 11px;
                }
                .bar2 {
                    background: rgba(255, 255, 255, 0);
                }

                .bar3 {
                    transform: rotate(-45deg);
                    margin-top: -16px;
                }
            }

            .gnb {
                @include respond-to("small") {
                    display: table-cell;
                }
                @include respond-to("medium") {
                    display: table-cell;
                }
                @include respond-to("large") {
                    display: block;
                }
            }
        }
    }
    a {
        color: #fff;
    }

    $burgur-w: 45px;
    .burgur {
        cursor: pointer;
        position: absolute;
        right: 25px;
        width: $burgur-w;
        margin: 10px 0;
        padding: 10px;

        @include respond-to("small") {
            display: block;
            right: 10px;
        }
        @include respond-to("medium") {
            display: block;
        }
        @include respond-to("large") {
            display: none;
        }

        span {
            display: block;
            width: 100%;
            height: 3px;
            background: rgba(255, 255, 255, 1);
            -o-transition: all 0.1s ease-in;
            -ms-transition: all 0.1s ease-in;
            -moz-transition: all 0.1s ease-in;
            -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in;

            &.bar1,
            &.bar3 {
                margin-top: 0;
            }
            &.bar2 {
                margin: 5px 0;
            }
        }
    }

    .gnb {
        @include respond-to("small") {
            float: none;
            display: none;
            vertical-align: middle;
        }
        @include respond-to("medium") {
            float: none;
            display: none;
            vertical-align: middle;
            height: 100%;
        }
        @include respond-to("large") {
            display: block;
            float: right;
        }

        li {
            cursor: pointer;
            position: relative;
            height: $header-h;
            text-align: center;

            @include respond-to("small") {
                display: block;
                margin: 0;
            }
            @include respond-to("medium") {
                display: block;
                margin: 0;
            }
            @include respond-to("large") {
                display: inline-block;
                margin-left: 50px;
            }
            a {
                outline: 0;
                position: relative;
                height: 100%;
                padding: 22px 0 20px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.5px;

                @include respond-to("small") {
                    display: inline-block;
                }
                @include respond-to("medium") {
                    display: inline-block;
                }
                @include respond-to("large") {
                    display: block;
                }
                > span {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    background: #fff;
                }
            }

            &:hover,
            &.on {
                a {
                    > span {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.inner {
    margin: 0 auto;

    @include respond-to("small") {
        width: 100%;
    }
    @include respond-to("medium") {
        width: 100%;
    }
    @include respond-to("large") {
        width: $lg-w;
    }
    @include respond-to("wide") {
        width: $w-w;
    }
}

#container {
    .section {
        position: relative;
    }

    .inner {
        text-align: center;

        @include respond-to("small") {
            padding: 35px 5px;
        }
        @include respond-to("medium") {
            padding: 50px 10px;
        }
        @include respond-to("large") {
            padding: 80px 0;
        }
        @include respond-to("wide") {
            padding: 100px 0;
        }

        .title {
            display: inline-block;
            padding: 0 3px;
            border-bottom: 6px solid #85b6a5;

            @include respond-to("small") {
                height: 29px;
                font-size: 30px;
            }
            @include respond-to("medium") {
                height: 40px;
                font-size: 42px;
            }
        }
    }

    /* Footer*/
    #Footer {
        padding: 30px 0;
        background: #839c99;
        color: #fff;

        .inner {
            padding: 0;

            p {
                font-size: 13px;
                text-align: center;
            }

            .last_comment {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1.2px;
            }
        }
    }
}

.section {
    position: relative;

    .content {
        @include respond-to("small") {
            margin: 20px auto 0;
        }
        @include respond-to("medium") {
            margin: 35px auto 0;
        }
        @include respond-to("large") {
            margin: 55px auto 0;
        }
    }
}
