/* Intro */
.visual_group {
	position: relative;

	.swiper-wrapper > div {
		width: 100%;
		position: relative;
	}
	.swiper-slide {
		overflow-y: auto;
		display: flex;
		height: 100vh;
		align-items: center;
		justify-content: center;
	}

	.visual1 {
		@include respond-to("small") {
			background: url("../../public/images/visual_bg1_m.jpg") right top/cover;
		}
		@include respond-to("medium") {
			background: url("../../public/images/visual_bg1_m.jpg") right top/cover;
		}
		@include respond-to("large") {
			background: url("../../public/images/visual_bg1.jpg") center top/cover;
		}
		@include respond-to("wide") {
			background: url("../../public/images/visual_bg1.jpg") center top/cover;
		}
	}

	.visual_title {
		display: flex;
		align-items: center;
		justify-content: center;

		> img {
			width: 100%;
		}
		svg {
			position: absolute;
			transform: rotate(-90deg) scaleY(-1);

			circle {
				stroke-width: 3px;
				stroke-linecap: round;
				fill: transparent;
			}
		}
		h1 {
			position: relative;
			z-index: 2;
			color: #fff;
			text-align: center;
			letter-spacing: 1px;
			line-height: 1.2;

			@include respond-to("small") {
				font-size: 24px;
			}
			@include respond-to("medium") {
				font-size: 34px;
			}

			strong {
				display: flex;
				font-size: 56px;
				justify-content: space-between;

				@include respond-to("small") {
					font-size: 44px;
				}
				@include respond-to("medium") {
					font-size: 56px;
				}
			}
			span {
				color: #fff;
			}
		}
	}

	.visual2 {
		background: url("../../public/images/visual_bg2.jpg") center top/cover;
		text-align: center;

		.visual_inner {
			@include respond-to("small") {
				min-height: 750px;
				margin-top: 20px;
			}
			@include respond-to("medium") {
				min-height: auto;
			}
			@include respond-to("large") {
			}
		}
		.btn {
			display: inline-block;
			margin-top: 30px;
		}
	}
	.skill_list {
		width: 500px;

		@include respond-to("small") {
			margin-top: 20px;
		}
		@include respond-to("medium") {
			margin-top: 20px;
		}
		@include respond-to("large") {
			margin-top: 30px;
		}

		> li {
			align-items: center;
			margin: 0 4px;
			color: #fff;
			line-height: 1;

			@include respond-to("small") {
				display: block;
				padding: 2px 10px;
			}
			@include respond-to("medium") {
				display: block;
				padding: 3px 12px;
			}
			@include respond-to("large") {
				display: flex;
				padding: 5px 12px;
			}
		}
		h2 {
			font-size: 20px;
			color: #fff;
			white-space: nowrap;

			@include respond-to("small") {
				display: none;
			}
			@include respond-to("medium") {
				display: none;
			}
			@include respond-to("large") {
				display: block;
				padding-right: 20px;
			}
		}
		.pill_group {
			display: flex;
			justify-content: center;

			li {
				white-space: nowrap;
			}
		}
	}
}

/* Profile */
.profile {
	.photo,
	.profile_con {
		vertical-align: middle;
		text-align: center;
	}

	.photo {
		img {
			margin-bottom: 25px;

			@include respond-to("small") {
				width: 80%;
				min-width: 200px;
				height: auto;
			}
			@include respond-to("medium") {
				width: 200px;
				height: 200px;
			}
			@include respond-to("large") {
				width: 240px;
				height: 240px;
			}
		}
	}

	.profile_con {
		@include respond-to("small") {
			min-width: 100%;
		}
		@include respond-to("medium") {
			min-width: 380px;
		}
		@include respond-to("large") {
			min-width: 440px;
		}

		ul {
			display: inline-block;
			text-align: left;

			li {
				@include respond-to("small") {
					margin-bottom: 10px;
					font-size: 15px;
				}
				@include respond-to("medium") {
					margin-bottom: 25px;
					font-size: 18px;
				}
			}
			b {
				display: inline-block;
				font-weight: bold;

				@include respond-to("small") {
					width: 110px;
				}
				@include respond-to("medium") {
					width: 140px;
				}
			}
		}
	}
}

/* Skill */
.skill {
	background:
		url("../../public/images/pattern_bg1.png"),
		url("../../public/images/skill/skill_bg.jpg") no-repeat center top/cover;

	h2 {
		color: #fff;
	}

	.skill_list {
		display: flex;
		flex-wrap: wrap;

		.grid-item {
			opacity: 0;
			text-align: center;

			> img {
				margin-bottom: 10px;

				@include respond-to("small") {
					display: none;
				}
				@include respond-to("medium") {
					display: none;
				}
				@include respond-to("large") {
					display: inline-block;
				}
				@include respond-to("wide") {
					display: inline-block;
				}
			}
		}

		.card {
			overflow: hidden;
			margin: 0 auto;

			@include respond-to("small") {
				width: 90%;
			}
			@include respond-to("medium") {
				width: 90%;
			}
			@include respond-to("large") {
				width: 290px;
			}
			@include respond-to("wide") {
				width: 290px;
			}

			&::after {
				content: "";
				display: inline-block;
				width: 100%;
				height: 30px;
				background: url("../../public/images/skill/skill_box_bot.png");
				background-position: right bottom;
				background-repeat: no-repeat;

				@include respond-to("small") {
					height: 20px;
					background-size: 550px;
				}
			}

			h3,
			.desc {
				color: #fff;
				text-align: left;
			}
			h3 {
				background-image: url("../../public/images/skill/skill_box_tit.png");
				background-position: left top;
				background-repeat: no-repeat;
				font-weight: bold;
				text-align: center;

				@include respond-to("small") {
					padding: 20px 0 5px;
					background-size: 550px;
					font-size: 20px;
				}
				@include respond-to("medium") {
					padding: 15px 0 10px;
					font-size: 20px;
				}
				@include respond-to("large") {
					padding: 20px 0;
					font-size: 22px;
				}
			}
			.desc {
				padding: 0 23px;
				background-image: url("../../public/images/skill/skill_box.png");
				font-size: 14px;
				line-height: 150%;
				word-break: break-all;

				@include respond-to("small") {
					height: auto;
					background-size: 490px 47px;
				}
				@include respond-to("medium") {
					height: 85px;
				}
				@include respond-to("large") {
					height: 85px;
				}
				@include respond-to("wide") {
					height: 85px;
				}
			}
		}
	}
}

/* Portfolio */
.portfolio {
	background: #d5e4df url("../../public/images/pattern_bg2.png");

	.search_wrap {
		display: flex;
		justify-content: flex-end;
		position: relative;
		margin-top: 5px;

		@include respond-to("small") {
			padding-right: 12px;
			margin-bottom: 10px;
		}
		@include respond-to("medium") {
			padding-right: 12px;
		}
		@include respond-to("large") {
			padding-right: 10px;
		}
		@include respond-to("wide") {
			padding-right: 20px;
		}

		input {
			width: 240px;
			height: 36px;
			padding-right: 40px;
		}
		.btn_search {
			position: absolute;
			height: 36px;
			width: 40px;
			font-size: 0;

			@include respond-to("small") {
				right: 12px;
			}
			@include respond-to("medium") {
				right: 12px;
			}
			@include respond-to("large") {
				right: 10px;
			}
			@include respond-to("wide") {
				right: 20px;
			}

			&:after {
				content: "⌕";
				display: block;
				height: 36px;
				font-size: 32px;
				color: $c-sub;
				line-height: 34px;
				transform: scaleX(-1);
			}
		}
	}
	.portfolio_wrap {
		display: flex;
		flex-wrap: wrap;
		text-align: left;

		.list_con {
			cursor: pointer;
			outline: 0;
			position: relative;
			margin: 0 auto;
			box-shadow: 0 0 5px rgba(62, 105, 132, 0.4);
			font-size: 0;

			@include respond-to("small") {
				width: 95%;
				padding-left: 110px;
			}
			@include respond-to("medium") {
				width: 95%;
				padding-left: 110px;
			}
			@include respond-to("large") {
				width: 290px;
				padding-left: 0;
			}
			&:hover,
			&:focus {
				box-shadow: 0 0 10px rgba(62, 105, 132, 0.9);
			}
		}
	}
	.thum_wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;
		vertical-align: top;
		background: #e9e9e9;
		text-align: center;

		@include respond-to("small") {
			position: absolute;
			width: 110px;
			height: 100%;
			border-right: 1px solid #e9e9e9;
			border-bottom: 0;
		}
		@include respond-to("medium") {
			position: absolute;
			width: 110px;
			height: 100%;
			border-right: 1px solid #e9e9e9;
			border-bottom: 0;
		}
		@include respond-to("large") {
			position: relative;
			width: inherit;
			height: 290px;
			border-right: 0;
			border-bottom: 1px solid #e9e9e9;
		}

		> img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.info_wrap {
		display: block;
		width: 100%;
		background: #fff;
		color: #000;
		min-height: 85px;

		@include respond-to("small") {
			min-height: auto;
			padding: 15px;
		}
		@include respond-to("medium") {
			min-height: auto;
			padding: 15px;
		}
		@include respond-to("large") {
			min-height: 85px;
			padding: 17px;
		}
		h3 {
			@include ellipsis;
			width: 100%;
			font-size: 18px;
			line-height: 160%;
		}
	}
	.keyword {
		@include ellipsis;
		width: 100%;

		li {
			display: inline-block;
			height: 17px;
			margin: 1px 3px 2px 0;
			padding: 0 8px;
			border: 1px solid $c-key;
			border-radius: 9px;
			font-size: 11px;
			line-height: 17px;
		}
	}
	.sitepath {
		a {
			@include ellipsis;
			display: inline-block;
			width: 100%;
			font-size: 16px;
			color: $c-pre;
			text-decoration: underline;
		}
	}

	// 팝업
	.modal_content {
		display: flex;
		overflow-y: auto;
		max-height: calc(100vh - 80px);

		@include respond-to("small") {
			flex-wrap: wrap;
		}
		@include respond-to("medium") {
			flex-wrap: nowrap;
		}

		.img_wrap {
			display: flex;
			align-items: baseline;
			justify-content: center;
			padding-right: 20px;

			@include respond-to("small") {
				width: 100%;
				margin: 20px 0 30px;
			}
			@include respond-to("medium") {
				width: 40%;
			}
			@include respond-to("large") {
				width: 310px;
			}

			img {
				max-width: 100%;
				border: 1px solid $c-line;
			}
		}
		.content_wrap {
			height: fit-content;
			min-height: 330px;

			@include respond-to("small") {
				width: 100%;
				padding: 0;
				border-left: 0;
			}
			@include respond-to("medium") {
				width: 60%;
				border-left: 1px solid $c-line;
				padding: 0 20px;
			}
			@include respond-to("large") {
				width: 410px;
			}
		}
		.modal_title {
			padding-bottom: 10px;
			font-size: 22px;
		}
		h3 {
			padding: 25px 0 5px;
			font-size: 18px;
		}
		.use_skill {
			font-size: 16px;
		}
		.keyword {
			li {
				height: 24px;
				border-radius: 12px;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
}
