// 폰트
$t-basic: "NBGR", "나눔바른고딕", "돋움", sans-serif;

// 컬러표
$c-key: #86b6a5;
$c-txt: #34393a;
$c-sub: #72a28d;
$c-pre: #4e94b1;
$c-warn: #dc3e61;
$c-dim: rgba(0, 0, 0, 0.6);

$c-btn-line: #fff;
$c-line: #ddd;
