@charset "UTF-8";
.hide{display:none !important;}
.kred{color:#f15e66;}
.notice_kred{color:#f15e66; font-weight:bold;}
.hover {color:#f15e66 !important;}

.page.wow {padding:0 0 100px;}
.title {margin-bottom:100px;}
.title h1 {font:700 70px "NanumGothic";padding:0;border:0;border-image:none;background:transparent;color:#555555;box-shadow:none;line-height:80px;}
.media-box {margin:0;padding:20px 10px;background:#ffffff;text-align:center;}
.media-box .media-icon {display:block;margin:15px auto;background:#35CFCD;border-radius:50%;width:180px;height:180px;}
.media-box>div {margin-bottom:15px;}
.media-box img {position:relative;margin-top:50%;top:-25%;}
.media-box span {font:800 22px "NanumGothic";}
.portfolio-title {position:absolute;display:table;width:100%;height:100%;min-height:213px;top:0;left:0;}
.portfolio-title div {display:table-cell;font:800 35px "NanumGothic";color:#fff;vertical-align:middle;text-align:center;}
.portfolio-title div span{display:block; margin-top:10px; font-size:18px;}

.prj-bar {margin:30px 0;width:20%;border:2px solid #fff;}
.milestone-count.highlight {color:#fff;}
.txt-line {font-size:18px;line-height:32px;}

.display {display:none;}
.overlay-wrap {position:absolute;width:100%;height:100%;min-height:213px;background-color:#ff8c92;opacity:.8;-webkit-opacity:.8;-moz-opacity:.8;top:0;left:0;}
.scale {transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);}



/* 추가CSS 시작 */
	.main-menu{margin-top:15px;}
	.main-menu>li{padding-top:15px;}
	.main-menu a{opacity:.7; letter-spacing:-.5px; color:#575757;}
	.main-menu>li>a:hover{
		opacity:1;
		-webkit-transition: all .2s ease;
		-o-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-moz-transition: all .2s ease;
		transition: all .2s ease;
	}
	li>.anchorbar{
		display:block;
		height:5px; width:0px; margin:0 auto 7px;
		background:url(../../../images/gnb_ani.png) no-repeat;
		-webkit-transition: width .2s ease;
		-o-transition: width .2s ease;
		-ms-transition: width .2s ease;
		-moz-transition: width .2s ease;
		transition: width .2s ease;
	}
	li:hover>.anchorbar{width:39px;}
	.dropdown-menu{padding:15px 0 !important;}
	.dropdown-menu>li>a{color:#fff; opacity:1; font-weight:normal;}
	.dropdown-menu>li>a:hover{color:#ff5a5f;}
	.dropdown-menu.product>li>a{padding-left:16px;}

	.dropdown-menu.blog{left:-30%; min-width:150px;}
	.dropdown-menu.blog>li>a{padding-right:50px; letter-spacing:0;}
	.dropdown-menu.log_current{left:auto; right:0; z-index:1000;}

	.menuover>li>a{opacity:.7; letter-spacing:-.5px; color:#575757;}
	.menuover>li>a:hover{
		opacity:1;
		-webkit-transition: all .2s ease;
		-o-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-moz-transition: all .2s ease;
		transition: all .2s ease;
	}
	/* notice */
	.full_bg{position:fixed; top:0; left:0; z-index:100; width:100%; height:100%; background:rgba(0,0,0,0.5);}
	.new_notice{position:relative; z-index:9; width:25px;}
	.new_notice>.carrot{display:block; height:35px; padding:10px 0 5px;}
	.notice_inner{
		overflow:hidden;
		position:absolute; top:78%; left:-1250%; z-index:1000;
		width:350px; padding-top:0 !important;
		border:1px solid #535d6c; border-radius:5px;
		background:#353f4f;
		font-family:'NanumGothic'; font-size:18px; color:#fff;
		font-weight:bold; text-indent:15px; line-height:24px;
	}
	.notice_tit{
		margin-bottom:0; padding:10px 0 !important;
		background:#445165;
		font-family:'NanumGothic'; font-size:16px; color:#fff;
		font-weight:bold; text-indent:15px; line-height:24px;
	}
	.notice_current{overflow:auto; height:570px;}
	.notice_list{
		position:relative; overflow:hidden;
		padding:15px 40px 15px 45px;
		border-bottom:1px solid #535d6c;
		font-size:16px; font-weight:normal;
	}
	.notice_list.cate1{background:url("../../../images/new_notice1.png") no-repeat 16px 20px;}
	.notice_list.cate2{background:url("../../../images/new_notice2.png") no-repeat 16px 20px;}
	.notice_list.cate3{background:url("../../../images/new_notice3.png") no-repeat 16px 20px;}
	.notice_list.cate4{background:url("../../../images/new_notice4.png") no-repeat 16px 20px;}
	.notice_list>.tit_wrap{float:left; margin-bottom:0;}
	.notice_list>.tit_wrap>.tit_inner,.notice_list>.tit_wrap>.n_date{text-indent:0;}
	.notice_list>.tit_wrap>.tit_inner{overflow:hidden; max-height:96px;}
	.n_date{display:block; margin:5px 0 1px; font-size:13px; color:#91aad3;}
	.notice_x{cursor:pointer; float:left; position:absolute; top:50%; right:10px; margin-top:-8px;}

	.open>.notice_inner{visibility:visible !important;}

	.scrollable>.viewport>.overview>ul{overflow:hidden; padding-left:0;}
	.scroll-bar{overflow:hidden;}

	.read>p{color:#999 !important;}
	.read>p>span{color:#999 !important;}

	/* user*/
	.user{padding-top:6px;}
	.user .log_current>li,.log_current>li>ul>li>a{text-align:left;}
	.log_current>li>ul{margin-bottom:10px;}
	.log_current>li>ul>li{padding-left:30px; text-align:left; line-height:25px;}
	.log_current>li>ul>li>a{cursor:pointer; font-size:12px; color:#fff; font-weight:normal;}
	.log_current>li>ul>li>a:hover{color:#f15e66;}

	/* login */
	.log_menu{position:relative; right:0; bottom:0; padding-top:10px;}
	.log_menu>li{float:left;}
	.r_count{
		position:relative; top:-30px; right:-10px; display:block; 
		width:18px; height:18px; 
		border-radius:100%; 
		background:#f15e66; color:#fff; 
		font-size:10px; text-align:center; font-weight:normal; line-height:18px;
	}
	.dropdown.line::before{content:'│'; margin-left:3px; color:#333;}	

	h2{font-family:'NanumGothic'; font-weight:bold;}
	.pad1{margin-top:300px;}
	.pad2{margin-top:100px;}
	.pad3{margin-top:50px;}
	.pad4{margin-top:30px;}
	.main_btn{
		display:inline-block; 
		margin-top:50px; border:3px solid #fff;
		font-size:18px; 
	}
	.main_btn>a{display:block; padding:12px 35px; color:#fff;}
	.carousel li{border:0;}


	/* MEDIA PLAN */
		.key_box{padding:0 45px;}
		.title h1{
			font-family:"NanumGothic"; color:#555; font-weight:bold;
			/* text-transform:uppercase; */
			box-shadow:none;
		}

		.icon_box{width:220px; height:220px; border-radius:100%; margin:0 auto 30px;}
		.icon_box img{margin:0 auto;}

		.service-description{color:#888; text-align:center;}

	/* 캠페인 비주얼 */
		.campaign_container{
			padding:100px 0 100px 8%;
			background:url("../../../images/campaign/campaign_visual.jpg") no-repeat;
			color:#fff; text-align:left;
		}
		.dashed{margin-top:100px;}

	/* 광고관리 */
		i {height:80px; font-size:60px;}
		.cam_nav{background:url("../../../images/campaign/campaign_line.jpg") no-repeat center 90px;}
		.cam_nav>a{display:block; width:180px; margin:0 auto 80px;}
		.cam_nav>a>div{
			width:150px; height:150px; margin:0 auto; padding:15px; 
			border:1px dashed #ff8b90; border-radius:100%;
			background:#fff;
		}
		.icon_font{
			width:150px; height:150px;
			margin:0 auto 50px;
			border-radius:100%; box-shadow:0 0 8px rgba(0,0,0,.2);
			background:#fff;
			color:#888;
			transition: all .2s ease-in;
			-webkit-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
		}
		.glyphicon{top:50% !important; margin-top:-30px;}
		.dashed .one-third.column{width:400px; margin:0;}
		.cam_nav>a:hover>div>.icon_font{box-shadow:0 0 0 rgba(0,0,0,0); background:#ff8b90; color:#fff;}
		.cam_nav>a>div>h2{
			font-family:"NanumGothic"; font-size:25px; font-weight:800; color:#555; text-align:center;
			transition: all .2s ease-in;
			-webkit-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
		}
		.cam_nav>a:hover>div>h2{color:#ff8b90;}
		.product_nav{position:relative; top:100px; width:100%; height:100px;}
		.product_nav>ul{position:absolute; display:table; width:100%; padding:0;}
		.product_nav>ul>li{
			display:table-cell; text-align:center;
			height:100px;
			border-right:1px solid #bbc7d9; background:#f3f3f3;
			transition: all .2s ease-in;
			-webkit-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
		}
		.product_nav>ul>li:hover{background:#ff8b90;}
		.product_nav>ul>li:last-child{border:0;}
		.product_nav>ul>li>a{
			display:block; 
			width:100%; height:74px; padding-top:26px;
		}
		.service-description{margin-bottom:40px;}

	/* 광고주 회원 가입 정보 작성 */
		.campaign_title{
			padding:50px 0;
			background:url("../../../images/campaign/campaign_visual.jpg") no-repeat center center;
			color:#fff; text-align:left;
			}
		#campaignTitle h2{font-size:35px; text-align:center;}
		.campaign_notice{text-align:left;}

	/* footer */
		#footer{position:absolute; width:100%; height:100px; background:#353f4f;}
		.foot_info{padding-left:0; letter-spacing:1px;}
		.foot_info>li{float:left; height:12px; margin-top:5px; font-size:12px;}
		.foot_info>li>a{font-weight:bold; color:#fff;}
		.foot_info>.line::before{content:'│'; margin-left:3px; color:#fff;}
		.copyright{height:50px; margin-top:0;padding:0; background:none; line-height:50px; text-align:center;}
		.copyright>.container{margin-left:2%;}
		.copyright>.container>.sixteen.columns{height:auto;}
		.copyright p{clear:both; margin-top:50px; font-size:12px; color:#fff; line-height:18px; text-align:left;}

	/* 광고주 회원 가입 정보 시작 */
	#campaignInfo h3{float:left; font-size:25px; font-weight:bold; text-align:left;}
	#campaignInfo .f_right{float:right;}
	#campaignInfo .f_left{float:left;}
	#campaignInfo .tb_style{width:1200px; border-top:3px solid #5a6c89; border-bottom:3px solid #5a6c89;}
	#campaignInfo .tb_style>tbody>tr{border-bottom:1px solid #94b1e1;}
	#campaignInfo .tb_style>tbody>tr>th{width:200px; background:#dae5f7; border-right:1px solid #94b1e1; vertical-align:middle;}
	#campaignInfo .tb_style>tbody>tr>td{padding:5px; color:#888; text-align:left; vertical-align:middle;}
	#campaignInfo .tb_style>tbody>tr>th,#campaignInfo .tb_style>tbody>tr>td{padding:4px 10px;}
	.h3_notice{padding-top:45px; font-size:14px;}
	#campaignInfo .tb_style>tbody>tr>td,#campaignInfo .tb_style>tbody>tr>td>.kred{font-size:14px;}
	#campaignInfo .tb_style input{height:30px; box-shadow:none;}
	#campaignInfo .tb_style td select,#campaignInfo .tb_style td input[type="tel"]{display:inline !important;}
	#campaignInfo .tb_style>tbody>tr>td>p{clear:both; margin:5px 0 0;}

	#campaignInfo .tb_style>tbody>tr>td>input[type="text"],
	#campaignInfo .tb_style>tbody>tr>td>input[type="password"],
	#campaignInfo .tb_style>tbody>tr>td>input[type="email"],
	#campaignInfo .tb_style>tbody>tr>td>input[type="tel"],
	#campaignInfo .tb_style>tbody>tr>td>input[type="submit"]{
		height:23px; padding:5px; margin:0;
		border:1px solid #6982ab; border-radius:0; box-shadow:none;
		background:#e8eff9;
		color:#353f4f;
	}
	#campaignInfo .tb_style select{
		width:150px; height:35px; padding:5px; margin:0;
		border:1px solid #6982ab; border-radius:0; box-shadow:none;
		background:#e8eff9;
		color:#353f4f;
	}
	#campaignInfo .company_sel{width:450px !important;}
	#campaignInfo .telsel1,#campaignInfo .telsel2{width:100px;}
	#campaignInfo .tb_style input[type="tel"]{width:200px; padding-left:10px;}
	.readonly{width:450px !important; border:1px solid #ccc !important; background:#eee !important;}
	.readonly + .kred{margin-left:10px; padding-top:7px; display:inline-block;}
	#campaignInfo .tb_style td .kred{margin:0 10px; padding-top:7px; display:inline-block;}
	
	.contact_btn{margin-left:10px;}
	.contact_btn a{
		display:inline-block;
		width:150px; height:31px; margin:0; padding-top:5px;
		border:none;
		background:#f15e66;
		font-family:"NanumGothic"; font-size:16px; color:#fff !important; text-align:center;
	}

	#campaignInfo .agree_h3{font-size:18px;}
	#campaignInfo .inner_tb{width:950px; margin-top:10px; border-top:2px solid #5a6c89; border-bottom:2px solid #5a6c89;}
	#campaignInfo .inner_tb tr{border-bottom:1px solid #94b1e1;}
	#campaignInfo .inner_tb th,#campaignInfo .inner_tb td{
		padding:5px;
		border-right:1px solid #94b1e1;
		color:#353f4f;
		vertical-align:middle; text-align:center;
	}
	#campaignInfo .inner_tb th:last-child,#campaignInfo .inner_tb td:last-child{border-right:0;}
	#campaignInfo .inner_tb th{background:#dae5f7;}
	.chk_style{position:absolute; top:3px; width:20px !important; height:20px !important;}
	.chk_agree{position:relative;}
	.chk_style{opacity:0; margin-top:4px;}
	.chk_agree label{display:block; top:5px; padding:7px 0 5px 30px; background:url("../../../images/check.png") no-repeat 4px 7px;}
	#comAgree1:checked + label{background:url("../../../images/checked.png") no-repeat 4px 7px;}
	#comAgree2:checked + label{background:url("../../../images/checked.png") no-repeat 4px 7px;}
	.label_style1,.label_style2,.label_style3{
		position:absolute; display:block;
		height:23px; padding:5px; margin:0;
		border:1px solid #6982ab; border-radius:0; box-shadow:none;
		background:#e8eff9 url("../../../images/carrot_navy.png") no-repeat 95% center;
		color:#353f4f;
	}
	.company_sel,.telsel1,.telsel2{position:relative; z-index:1; opacity:0;}
	.label_style1{width:438px; background-position:98%;}
	.label_style2,.label_style3{width:138px;}

	.can_join{width:410px; margin:50px auto 0;}
	.can_join a{
		display:block; float:left;
		width:200px; height:41px; margin:0;
		border:none;
		background:#f15e66;
		font-family:"NanumGothic"; font-size:16px; color:#fff !important;
		text-align:center; line-height:41px;
	}
	#campaignInfo input[type="submit"]{
		float:left;
		width:200px; height:41px; margin:0; margin-left:10px;
		border:none;
		background:#f15e66;
		font-family:"NanumGothic"; font-size:16px; color:#fff !important;
		text-align:center;
	}

	/* 광고주 회원 가입 정보 끝 */
/* 추가CSS 끝 */

/* 아이콘 font */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../../font/glyphicons-halflings-regular.eot');
  src: url('../../../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../font/glyphicons-halflings-regular.woff2') format('woff2'), url('../../../font//glyphicons-halflings-regular.woff') format('woff'), url('../../../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-edit:before {
  content: "\e065";
}

/* 알림 메세지 팝업 */
.advertiser_pop>ul>li{
	position:fixed; top:50%; left:50%; z-index:102;
	width:600px; margin:-105px 0 0 -300px; padding-bottom:10px;
	border:1px solid #353f4f; box-shadow:0 0 8px rgba(0,0,0,0.3);
	background:#fff;
}
.advertiser_pop h4{
	padding:8px 0 10px 11px; margin:0;
	background:#353f4f;
	font-size:18px; color:#fff;
}
.advertiser_pop .close{position:relative; top:-45px;}
.advertiser_con{margin:35px 50px; color:#353f4f;}
.advertiser_btn{overflow:hidden; float:right; margin-right:10px;}
.advertiser_btn>li{float:left; background:#f3666e; font-size:14px; color:#fff; text-align:center;}
.advertiser_btn>.cancle{width:160px; padding:6px 0; margin-right:10px;}
.advertiser_btn>li>a{display:block; width:160px; padding:6px 0; color:#fff;}

.advertiser_pop .conform{
	float:right;
	width:160px; padding:6px 0; margin-right:10px;
	background:#f3666e; 
	font-size:14px; color:#fff; text-align:center;
}
.blind{
    position:fixed; top:0; left:0; z-index:100;
    width:100%; height:100%;
    background:rgba(0,0,0,0.5);
}