@charset "utf-8";

h4{font-family:"NanumGothic"; font-size:16px; font-weight:800; text-align:center;}
ul{padding:0;}
ol{list-style:none; float:right; margin-right:135px; padding:0;}
ol li{float:left; margin-right:10px;display:inline;}
.dotum{font-family:"Dotum"; font-size:14px; font-weight:bold; letter-spacing:-0.05em;}
.dropdown-menu{padding:15px 0 !important;}
.dropdown-menu.blog{left:-90%;}

.hide{display:none !important;}
.kred{color:#f15e66;}
.notice_kred{color:#f15e66; font-weight:bold;}
.hover {color:#f15e66 !important;}

.log_menu{bottom:0 !important;}
.page.wow {padding:0 0 100px;}
.title h1 {font:700 70px "NanumGothic";padding:0;border:0;border-image:none;background:transparent;color:#555555;box-shadow:none;line-height:70px;}
.media-box {margin:0;padding:20px 10px;background:#ffffff;text-align:center;}
.media-box .media-icon {display:block;margin:15px auto;background:#35CFCD;border-radius:50%;width:180px;height:180px;}
.media-box>div {margin-bottom:15px;}
.media-box img {position:relative;margin-top:50%;top:-25%;}
.media-box span {font:800 22px "NanumGothic";}
.portfolio-title {position:absolute;display:table;width:100%;height:100%;min-height:213px;top:0;left:0;}
.portfolio-title div {display:table-cell;font:800 35px "NanumGothic";color:#fff;vertical-align:middle;text-align:center;}
.portfolio-title div span{display:block; margin-top:10px; font-size:18px;}

.prj-bar {margin:30px 0;width:20%;border:2px solid #fff;}
.milestone-count.highlight {color:#fff;}
.txt-line {font-size:18px;line-height:32px;}

.display {display:none;}
.overlay-wrap {
	position:absolute; top:0;left:0;
	width:100%;height:100%;min-height:213px;
	background-color:#ff8c92;opacity:.8;-webkit-opacity:.8;-moz-opacity:.8;
	}
.scale {transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);}


/* 추가CSS 시작 */
	.main-menu{margin-top:15px;}
	.main-menu>li{padding-top:15px;}
	.main-menu a{opacity:.7; letter-spacing:-.5px; color:#575757;}
	.main-menu>li>a:hover{
		opacity:1;
		-webkit-transition: all .2s ease;
		-o-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-moz-transition: all .2s ease;
		transition: all .2s ease;
	}
	li>.anchorbar{
		display:block;
		height:5px; width:0px; margin:0 auto 7px;
		background:url(../../../images/gnb_ani.png) no-repeat;
		-webkit-transition: width .2s ease;
		-o-transition: width .2s ease;
		-ms-transition: width .2s ease;
		-moz-transition: width .2s ease;
		transition: width .2s ease;
	}
	li:hover>.anchorbar{width:39px;}
	.dropdown-menu{padding:15px 0 !important;}
	.dropdown-menu>li>a{color:#fff; opacity:1; font-weight:normal;}
	.dropdown-menu>li>a:hover{color:#ff5a5f;}
	.dropdown-menu.product>li>a{padding-left:16px;}

	.dropdown-menu.blog{left:-30%; min-width:150px;}
	.dropdown-menu.blog>li>a{padding-right:50px; letter-spacing:0;}
	.dropdown-menu.log_current{left:auto; right:0; z-index:1000;}

	.menuover>li>a{opacity:.7; letter-spacing:-.5px; color:#575757;}
	.menuover>li>a:hover{
		opacity:1;
		-webkit-transition: all .2s ease;
		-o-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-moz-transition: all .2s ease;
		transition: all .2s ease;
	}
	/* notice */
	.full_bg{position:fixed; top:0; left:0; z-index:99; width:100%; height:100%;}
	.new_notice{position:relative; z-index:9; width:25px;}
	.new_notice>.carrot{display:block; height:35px; padding:10px 0 5px;}
	.notice_inner{
		overflow:hidden;
		position:absolute; top:78%; left:-1250%; z-index:1000;
		width:350px; padding-top:0 !important;
		border:1px solid #535d6c; border-radius:5px;
		background:#353f4f;
		font-family:'NanumGothic'; font-size:18px; color:#fff;
		font-weight:bold; text-indent:15px; line-height:24px;
	}
	.notice_tit{
		margin-bottom:0; padding:10px 0 !important;
		background:#445165;
		font-family:'NanumGothic'; font-size:16px; color:#fff;
		font-weight:bold; text-indent:15px; line-height:24px;
	}
	.notice_current{overflow:auto; height:570px;}
	.notice_list{
		position:relative; overflow:hidden;
		padding:15px 40px 15px 45px;
		border-bottom:1px solid #535d6c;
		font-size:16px; font-weight:normal;
	}
	.notice_list.cate1{background:url("../../../images/new_notice1.png") no-repeat 16px 20px;}
	.notice_list.cate2{background:url("../../../images/new_notice2.png") no-repeat 16px 20px;}
	.notice_list.cate3{background:url("../../../images/new_notice3.png") no-repeat 16px 20px;}
	.notice_list.cate4{background:url("../../../images/new_notice4.png") no-repeat 16px 20px;}
	.notice_list>.tit_wrap{float:left; margin-bottom:0;}
	.notice_list>.tit_wrap>.tit_inner,.notice_list>.tit_wrap>.n_date{text-indent:0;}
	.notice_list>.tit_wrap>.tit_inner{overflow:hidden; max-height:96px;}
	.n_date{display:block; margin:5px 0 1px; font-size:13px; color:#91aad3;}
	.notice_x{cursor:pointer; float:left; position:absolute; top:50%; right:10px; margin-top:-8px;}

	.open>.notice_inner{visibility:visible !important;}

	.scrollable>.viewport>.overview>ul{overflow:hidden; padding-left:0;}
	.scroll-bar{overflow:hidden;}

	.read>p{color:#999 !important;}
	.read>p>span{color:#999 !important;}

	/* user*/
	.user{padding-top:6px;}
	.user .log_current>li,.log_current>li>ul>li>a{text-align:left;}
	.log_current>li>ul{margin-bottom:10px;}
	.log_current>li>ul>li{padding-left:30px; text-align:left; line-height:25px;}
	.log_current>li>ul>li>a{cursor:pointer; font-size:12px; color:#fff; font-weight:normal;}
	.log_current>li>ul>li>a:hover{color:#f15e66;}

	/* login */
	.log_menu{position:relative; right:0; bottom:0; padding-top:10px;}
	.log_menu>li{float:left;}
	.r_count{
		position:relative; top:-30px; right:-10px; display:block; 
		width:18px; height:18px; 
		border-radius:100%; 
		background:#f15e66; color:#fff; 
		font-size:10px; text-align:center; font-weight:normal; line-height:18px;
	}
	.dropdown.line::before{content:'│'; margin-left:3px; color:#333;}	

	h2{font-family:'NanumGothic'; font-weight:bold;}
	.pad1{margin-top:300px;}
	.pad2{margin-top:100px;}
	.pad3{margin-top:50px;}
	.pad4{margin-top:30px;}
	.main_btn{
		display:inline-block; 
		margin-top:50px; padding:12px 35px; border:3px solid #fff;
		font-size:18px; 
	}
	.main_btn>a{color:#fff;}
	.carousel li{border:0;}

/* skeleton.css added style */
	.container .columns.seven-harf {
		width: 430px;
	}

/* bigsite 헤더 */
	.page{padding:0;}
	.bigsite_header{
		position: relative;
		width:100%; height:200px;
		background: url("../../../images/head_bg/bg_bigsite.jpg") no-repeat 100% 25%;
		background-size: cover;
		padding:0;
		overflow: hidden;
	}
	.overlay3 {
		position: absolute;
		width: 100%; height: 200px;
		padding-top:30px;
		background-size: cover;
		z-index: 1;
		font-family:"NanumGothic"; color:white;
	}

/* bigsite menu */
	.bigsite_snb{height:155px; background:#eee;}
	.bigsite_snb .container{width:100% !important;}
	.bigsite_snb .media_nav{width:700px; margin:0 auto;}
	.bigsite_snb .media_nav>li{
		float:left; cursor:pointer;
		width:155px; padding:20px 10px; 
		text-align:center; font-weight:bold; 
	}
	.bigsite_snb .media_nav>li img{width:95px; height:117px;}
	.bigsite_snb ul li p{font-family:"NanumGothic"; color:#555; font-size:14px; font-weight:bold;}

/* 테이블 스타일 공통 시작 */
	.table_style{
		width:900px; margin:20px auto;
		border-top:3px solid #5a6c89; border-bottom:3px solid #5a6c89;
		font-family:"NanumGothic"; color:#445165; font-size:16px; text-align:center;
	}

	.table_style th{height:40px; background:#dae5f7; font-weight:bold; font-size:16px; line-height:40px;}
	.table_style td{height:40px;}
	.table_style th,.table_style td{border:1px solid #94b1e1; vertical-align:middle;}
	.table_style text{padding:5px;}

	.tb_wd_1{width:80px;}
	.tb_wd_2{width:110px;}
	.tb_wd_3{width:200px;}

	.tb_hi_1{height:55px !important;}

	.bor_left{border-left:0 !important;}
	.bor_right{border-right:0 !important;}
/* 테이블 스타일 공통 끝 */

/* bigsite 그래프 */
	#bigsite {margin:100px 0;}
	#bigsite .comment{
		clear:both; padding-left:42px;font-size:35px; text-align:center; font-weight:bold; line-height:125%;
	}
	#bigsite .comment>p{margin-bottom:50px; font-family:"NanumGothic"; color:#353f4f; text-align:center;}
	#cdr, #subway, #busshelter {text-align:center;}
	#cdr canvas, #subway canvas, #busshelter canvas {margin:20px 40px 10px;padding:0;border:0;}
	#cdr .count, #subway .count, #busshelter .count {margin:0 35px;}
	#cdr .columns.four, #subway .columns.four, #busshelter .columns.four{width:310px;}
	#bigsite ul {
		display:table;
		width:1200px;margin:0 auto;
	}
	#bigsite ul li {
		position:relative;display:table-cell;
	}
	#bigsite ul li h4{font-size:25px; color:#555;}
	#bigsite .row.graph>ul>li>p {font-size:16px; color:#888; text-align:center;}
	#bigsite .row.graph ul>li.columns.five{width:380px;}
	.count {
		width:250px;color:#6982ab;text-align:center;margin:0 35px;
	}
	.milestone-details {
		position:relative;padding:0;font:900 14px "NanumGothic";
	}
	.milestone-count {
		position:relative;padding:0;font-size:35px !important; color:#6982ab;letter-spacing:-0.02em;
	}
	.percent {
		position:absolute;top:42%;margin-left:17px;
	}
	.percent h6 {
		font-size:20px;
	}
	.unit {
		position:absolute;font-size:20px;font-weight:900;top:29px;right:35.8%;
	}

/* bigsite 지도영역 */
	#map {
		width:100%;
		height:300px;
		background-color:#ccc;
	}

/* KEY FACTOR */
	.title h1{
		padding-top:50px; margin-bottom:10px;
		background:none; border:0;
		color:#555; font-weight:bold;
		text-transform:none;
		box-shadow:none;
	}
	.key-sub {margin:20px 0 30px; font-size:30px; color:#555;}

	.icon_box{width:220px; height:220px; border-radius:100%; margin:0 auto 30px;}
	.icon_box img{margin:0 auto;}

	#keyfactor .container.clearfix {position:relative; width:1200px; margin:0 auto; padding:0;}
	.service-description{font-family:"NanumGothic"; color:#888; text-align:center;}
	.key2{width:800px; margin:0 auto; margin-bottom:50px;}
	.key_box h2{font-family:"NanumGothic"; font-size:25px; font-weight:800; color:#555555; text-align:center;}
	
/* 추가 */
	.percent .milestone-details{width:20%; margin:25px auto; padding-left:18%; font:600 18px "NanumGothic";}
	h6 span.milestone-count{width:100%; font-size:18px !important;}
	#subway .milestone-details,#cdr .milestone-details,#busshelter .milestone-details{font:600 16px "arial";}

/* SPECIAL 광고 PLAN */
	.special{overflow:hidden; width:1200px; margin:0 auto; padding-top:100px;}
	.special>.container{width:990px;}
	.special h3 {
		font-weight:800;
	}
	.special table {
		width:420px;margin:50px 0 0;
	}

	.special .seven-harf{width:450px; margin:0 auto; margin-bottom:100px;}
	.special .seven-harf.contents{width:420px; padding-left:100px;}

/* bigsite 정보 */
	.exposure th:first-child{width:110px;}
	.exposure th:nth-child(4),.li_r_w{width:100px;}
	.exposure th:last-child{width:200px;}
	.exposure p{width:auto;}

/* PR 멘트 */
	#view-map {background-color:#ffd600;padding:20px 0;width:100%;}
	#view-map .row {margin:0;}
	#view-map .pr {font:800 32px "NanumGothic";color:#555;}
	#view-map li {float:left;}
	#view-map .btn-map {
		position:absolute;
		margin:0 auto;
		padding:5px 15px;
		border:3px solid #1b8d90;
		color:#1b8d90; font-size:16px; font-weight:bold;
		right:0;
	}
	#view-map .btn-map:hover{color:#fff;border:3px solid #fff;}

/* 구매요청, 소개서다운로드, 광고 문의하기 */
	.bot_btn{width:540px; height:10px; margin:0 auto; padding-left:0;}
	.bot_btn li{float:left; margin:0 5px; margin-bottom:100px;}
	.bot_btn li a{
		display:block;
		width:170px; height:24px; padding:8px 0;
		background:#0dcdbd;
		color:#fff; font-size:16px; font-weight:bold; text-align:center;
	}

/* footer */
	#footer{height:100px; background:#353f4f;}
	.foot_info{padding-left:0; letter-spacing:1px;}
	.foot_info>li{float:left; height:12px; margin-top:5px; font-size:12px;}
	.foot_info>li>a{font-weight:bold; color:#fff;}
	.foot_info>.line::before{content:'│'; margin-left:3px; color:#fff;}
	.copyright{height:50px; margin-top:0;padding:0; background:none; line-height:50px; text-align:center;}
	.copyright>.container>.sixteen.columns{height:auto;}
	.copyright>.container{margin:0; margin-left:2%;}
	.copyright p{clear:both; margin-top:50px; font-size:12px; color:#fff; line-height:18px; text-align:left;}

/* 공통 코드 */
.fl-l {
	float:left;
}
.fl-r {
	float:right;
}

@media only screen and (max-width:767px) {
	#keyfactor .container.clearfix {
		position:relative;width:400px;margin:0 auto;padding:0 40px;
	}
	#cdr .count, #subway .count, #busshelter .count {margin:0;}
	.percent {
		position:absolute;top:38%;margin-left:0;left:13%;
	}
	.percent .columns.four {width:300px;margin:24px auto;}
	.count {
		width:250px; color:#6982ab;text-align:center;margin:35px 0 0;
	}	
}